<!DOCTYPE html>
<html lang="en">
<head>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
      <!-- jQery -->
  <script src="../static/assets/js/jquery-3.4.1.min.js"></script>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../static/images/imagesnew/page_icon.png" type="">

  <title> Restocker </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.css" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="../static/assets/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="../static/assets/css/style1.css" rel="stylesheet" />

  <!-- responsive style -->
  <link href="../static/assets/css/responsive.css" rel="stylesheet" />

</head>
<body>
  <div class="hero_area">
{#    <div class="bg-box">#}
{#      <img src="../static/images/imagesnew/wallpaper.jpg" alt="">#}
{#    </div>#}
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">

           <span class="navbar-brand">
                <span>
                  G4 Vending Machine
                </span>
            </span>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>

              </li>

            </ul>
            <div class="user_option">



            </div>
          </div>
        </nav>
      </div>
    </header>

  </div>


<div class="restocker-container">
<div id="report-container">
    <div id="report-container">

      {% if expired_items %}
    <h3>Expired Items</h3>
    <form id="expiredItemsForm" action="/remove_expired_items" method="post">
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <th style="width: 20%; padding: 10px; border: 1px solid black;">Item ID</th>
                <th style="width: 20%; padding: 10px; border: 1px solid black;">Item Name</th>
                <th style="width: 20%; padding: 10px; border: 1px solid black;">Quantity</th>
                <th style="width: 20%; padding: 10px; border: 1px solid black;">Expiration Date</th>
                <th style="width: 20%; padding: 10px; border: 1px solid black;">Remove</th>
            </tr>
            {% for item in expired_items %}
                <tr>
                    <td style="padding: 10px; border: 1px solid black;">{{ item[0] }}</td>
                    <td style="padding: 10px; border: 1px solid black;">{{ item[1] }}</td>
                    <td style="padding: 10px; border: 1px solid black;">{{ item[2] }}</td>
                    <td style="padding: 10px; border: 1px solid black;">{{ item[3] }}</td>
                    <td style="padding: 10px; border: 1px solid black;"><input type="checkbox" name="item_to_remove" value="{{ item[0] }}_{{ item[3] }}"></td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="generate-button">Remove Selected Items</button>
    </form>
{% endif %}

{#        <!-- Low Stock Items -->#}
    {% if low_stock_items %}
    <h3>Low Stock Items</h3>
    <form id="lowStockItemsForm" action="/restock_items" method="post">
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <th style="width: 20%; padding: 10px; border: 1px solid black;">Item ID</th>
                <th style="width: 20%; padding: 10px; border: 1px solid black;">Name</th>
                <th style="width: 20%; padding: 10px; border: 1px solid black;">Replenish</th>
                <th style="width: 20%; padding: 10px; border: 1px solid black;">Restock</th>
            </tr>
            {% for item in low_stock_items %}
                <tr>
                    <td style="padding: 10px; border: 1px solid black;">{{ item.Item_ID }}</td>
                    <td style="padding: 10px; border: 1px solid black;">{{ item.Item_Name.strip('"') }}</td>
                    <td style="padding: 10px; border: 1px solid black;">{{ item.Quantity }}</td>
                    <td>
                     <input type="checkbox" name="item_to_restock" value="{{ item.Item_ID }}_{{ item.Quantity }}">
                     </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="generate-button">Restock Selected Items</button>
    </form>
{% endif %}


        <!-- Instructions -->
        {% if instructions %}
            <h3>Instructions</h3>
            <p>{{ instructions.strip('"') }}</p>
        {% endif %}


</div>


</div>


</div>
<script type="text/javascript">
      // Function to handle form submission
        document.getElementById('expiredItemsForm').onsubmit = function(event) {
            // Prevent the default form submission
            event.preventDefault();

            // Collect form data
            var formData = new FormData(this);

            // Send data using Fetch API
            fetch('/remove_expired_items', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Display a popup message
                alert(data.message);
            })
            .catch(error => {
                // Handle any errors
                alert('An error occurred');
            });
        };

        document.getElementById('lowStockItemsForm').onsubmit = function(event) {
    event.preventDefault();
    var formData = new FormData(this);

    fetch('/restock_items', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        alert(data.message);
    })
    .catch(error => {
        alert('An error occurred');
    });
};
</script>



</body>
</html>
