<!DOCTYPE html>
<html lang="en">
<head>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
      <!-- jQery -->
  <script src="../static/assets/js/jquery-3.4.1.min.js"></script>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../static/images/imagesnew/page_icon.png" type="">

  <title> Restocker </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.css" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="../static/assets/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="../static/assets/css/style1.css" rel="stylesheet" />

  <!-- responsive style -->
  <link href="../static/assets/css/responsive.css" rel="stylesheet" />

</head>
<body>
  <div class="hero_area">
{#    <div class="bg-box">#}
{#      <img src="../static/images/imagesnew/wallpaper.jpg" alt="">#}
{#    </div>#}
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">

           <span class="navbar-brand">
                <span>
                  G4 Vending Machine
                </span>
            </span>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>

              </li>

            </ul>
            <div class="user_option">



            </div>
          </div>
        </nav>
      </div>
    </header>

  </div>


<div class="restocker-container">
<div id="report-container">
    <div id="report-container">

        <!-- Expired Items -->
        {% if expired_items %}
            <h3>Expired Items</h3>
            <ul>
                {% for item in expired_items %}
                    <li>Item ID: {{ item[0] }}, Name: {{ item[1] }}, Quantity: {{ item[2] }}, Expiration Date: {{ item[3] }}</li>
                {% endfor %}
            </ul>
        {% endif %}

{#        <!-- Low Stock Items -->#}
        {% if low_stock_items %}
            <h3>Low Stock Items</h3>
            <ul>
                {% for item in low_stock_items %}
                    <li>Item ID: {{ item.Item_ID }}, Name: {{ item.Item_Name }}, Quantity: {{ item.Quantity }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Instructions -->
        {% if instructions %}
            <h3>Instructions</h3>
            <p>{{ instructions }}</p>
        {% endif %}


</div>


</div>


</div>
<script type="text/javascript">
    {#var reportData = JSON.parse('{{ report_data_json | tojson | safe }}');#}
</script>



</body>
</html>
